<h1>Add a new product</h1>

<form action="/addProduct" method="POST">
    <div class="input-field">
        <input id="name" name="name" type="text" class="validate" required >
        <label for="name">Name: </label>
        <span class="helper-text" data-error="Enter the valid name"></span>
    </div>

    <div class="input-field">
        <input id="price" name="price" type="text" class="validate" required >
        <label for="price">Price: </label>
        <span class="helper-text" data-error="Enter the valid price"></span>
    </div>

    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" required>
        <label for="img">URL picture: </label>
        <span class="helper-text" data-error="Enter the valid URL"></span>
    </div>

    <button class=" btn">Add </button>
</form>
