<h1 class="title">Welcome to Food Delivery</h1></br>

<div >
    <img class="leftimg" src="./images/0_RHHxKod5FoRBI8Fk.png">
    <h4>
        <b>Hello! We are glad to see you here!</b> </br>
    </h4>
    <h6>
        Our delivery service will be happy to bring you your favorite dishes.
        You can find here everything that you want. You just should <a class="underline" href="/auth/login#login">sign in</a>
        in your account or <a class="underline" href="/auth/login#register">sign up</a> if you do not have one.
        After that you should go to the <a class="underline" href="/products">Products</a> page,
        choose what you want and click the <b><em>Buy</em></b> button. Then you will be redirected to your basket page. There you should
        enter the delivery address and click the <b><em>Make an order</em></b> button. All your orders will be displayed on the
        <a class="underline" href="/orders">Orders</a> page. </br>
    </h6>
    <h5><b><em>Let's structure it!</em></b></h5>
    <h6>
        If you just want to look at the menu, go to the <a class="underline" href="/products">Products</a> page.</br></br>
        <b><em>If you want to make an order then:</b></em>
        <ol>
            <li><a class="underline" href="/auth/login#login">Sign in</a>
                in your account or <a class="underline" href="/auth/login#register">Sign up</a> if you do not have one</li>
            <li>Go to the <a class="underline" href="/products">Products</a> page</li>
            <li>Choose what you want and click the <b><em>Buy</em></b> button</li>
            <li>Waiting for your tastiest dish from Food Delivery</li>
        </ol></br>
    </h6>
    <h4>
        <b>Thank you for choosing us! Have a good meal and come back to us again!</b>
    </h4>

</div>
<p>  &#169; Course project by Veronika Rogalevich</p>
