.nav-wrapper{
    padding: 0 2rem;
    background-color: #ffd800;
    font-weight: bold;
    text-shadow:
            1px 1px 1px #8c7e00,
            -1px 1px 1px #8c7e00;
}

.price{
    font-size: 1.5rem;
}

.price.small{
    font-size: 1rem;
}

.product{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product h1{
    margin-bottom: 2rem;
}

.product img{
    max-width: 600px;
    height: auto;
}

.product .price.big{
    font-size: 2rem;
}

.btn{
    background-color: #ffd800;
    font-weight: bold;
    text-shadow:
            1px 1px 1px #878c00,
            -1px 1px 1px #878c00;
}

.btn.redd{
    background-color: red;
}

.btn.redd:hover{
    background-color: darkred;
}

.btn.ggreen{
    background-color: #29a529;
}

.btn.ggreen:hover{
    background-color: darkgreen;
}

.btn:hover{
    background-color: #d7b206;
}


.card-action.actions{
    display: flex;
    align-items: center;
    justify-content: space-between; //одинаков простр-во между кнопками
}

.product-form{
    margin-bottom: 1rem;
}

.auth{
    padding-top: 0.5rem;
}

.title{
    text-align: center;
    color: #ffd800;
    text-shadow: black 0 0 0,
    black -1px -1px 0,
    black -1px 1px 0,
    black 1px -1px 0;
    font-weight: bold;
}